* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-display: optional !important;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.6);
  border-radius: 20px;
  border: transparent;
}
